
#collapsibleNavbar {
  position: absolute;
  top:0;
  z-index: 1;
  left: 10px;
  background: #eee;
  overflow-x: hidden;
  padding: 8px 0;
  overflow-y: auto;
    width: 190px;
  height: 650px;
}

#collapsibleNavbar a {
	padding: 10px 5px 10px;
  text-decoration: none;
  color: #2196F3;
  display: block;
}

#collapsibleNavbar a:hover {
  color: #064579;
}

.alert{
 left: 50px;

}
.parrafos {
  margin-left:0;
  left: 50px; /* Same width as the sidebar + left position in px */

@media screen and (max-height: 450px) {
	.sidebar-wrapper {padding-top: 15px;}
  .sidebar-wrapper a {font-size: 18px;}
}
